#include <bits/stdc++.h>

#define _size(a) (int) (a).size()

using namespace std;

class %ClassName% {
public:
  void solveOne() {
  }

  void solve() {
    int nt;
    in >> nt;
    for (int _ = 0; _ < nt; _++) {
      solveOne();
    }
  }

  %ClassName%(istream& in, ostream& out)
    : in(in), out(out) { }

private:
  istream& in;
  ostream& out;
};