#include <bits/stdc++.h>

using namespace std;

#define _size(a) (int) (a).size()

class %ClassName% {
public:
  void solveOne(istream& in, ostream& out) {
  }

  void solve(istream& in, ostream& out) {
    int nt;
    in >> nt;
    for (int _ = 0; _ < nt; _++) {
      solveOne(in, out);
    }
  }
};